var sign = function (value) {
  switch(+value){
    case 0:
    return '未签收';
    case 1:
    return '已签收';
    default:
    return '未签收';
  }
}

var active = function (value) {
  switch(+value){
    case 0:
    return '预备中';
    case 1:
    return '进行中';
    case 2:
    return '已结束';
    default:
    return '预备中';
  }
}

module.exports = {
  sign: sign,
  active: active
}
